/*
IMPORTANTE: LO HE CONSEGUIDO CON 7 ELEMENTOS, SI LO CONSIGUES CON MENOS MÁNDAME LA SOLUCIÓN A DISCORD
Colors:
  Background: #1A4341
  Yellow: #F3AC3C
  Dark Yellow: #998235
*/
.bg {
  width: 400px;
  height: 300px;
  background: #1a4341;
}

.circle{
  width: 101px;
  height: 101px;
  background-image: radial-gradient(circle 30px at 35.5% 35%, #998235 50%,  transparent 50%),
                    radial-gradient(circle 10px at 76% 25%, #998235 50%,  transparent 50%),
                    radial-gradient(circle 20px at 49.5% 75%, #998235 50%,  #F3AC3C 50%);
  border-radius: 50%;
  position: absolute;
  top: 51px;
  left: -46px;
  z-index: 2;
}

.stick, .stick::after, .stick::before{
  width: 10px;
  height: 182px;
  background: #F3AC3C;
  border-radius: 5px;
}

.stick{
  top: 49px;
  left: 196px;
  position: relative;
}

.stick::after, .stick::before{
  content: "";
  position: absolute;
}

.stick::after{
  transform: rotate(60deg);
  top: 5px;
  left: 10px;
}

.stick::before{
  transform: rotate(-60deg);
  left: 9px;
  top: 16px;
}